// App Colors
$primary-color: #f28b27;
$secondary-color: #13181e;

// Common
$color-white: #fefefe;
$color-transparent: rgba(254, 254, 254, 0);
$color-light-gray: #f5f5f5;

// Backgrounds
$gradient-background: $primary-color; /* fallback for old browsers */
$gradient-background: linear-gradient(to bottom, #f28b27, #fa7c3e, #fd6f52, #fb6566, #f45e79);
$main-page-background: $color-light-gray;
$page-background: $color-light-gray;
$error-background: $color-light-gray;
$header-background: #020711;
$footer-background: #020711;

// Spinner & Loader
$color-font-loader: $color-white;
$color-loader-min: rgba(255, 255, 255, 0.08);
$color-loader-max: rgba(255, 255, 255, 0.7);
$loader-background: $gradient-background;
$spinner-mask-background: rgba(0, 0, 0, 0.2);
$color-spinner: $primary-color;

// Font
$color-placeholder: #adadad;
$color-font-dark: #3b3b3b;
$color-font-medium: #5c5c5c;
$color-font-light: #a1a1a1;
$color-font-lightest: #f3f3f3;

// Hamburger
$color-hamburger: $color-white;
$color-hamburger-hover: rgba(255, 255, 255, 0.75);

// Footer
$footer-background: $color-transparent;
$footer-font-color: #d6d6d6;

:export {
	primaryColor: $primary-color;
}
