// App Colors
$primary-color: #f28b27;
$secondary-color: #13181e;

// Common
$color-white: #fefefe;
$color-transparent: rgba(254, 254, 254, 0);
$color-light-gray: #f5f5f5;

// Backgrounds
$gradient-background: $primary-color; /* fallback for old browsers */
$gradient-background: linear-gradient(to bottom, #f28b27, #fa7c3e, #fd6f52, #fb6566, #f45e79);
$page-background: $color-light-gray;
$error-background: $color-light-gray;
$home-background: $gradient-background;

// Font
$color-placeholder: #adadad;
$color-font-dark: #3b3b3b;
$color-font-medium: #666;
$color-font-light: #a1a1a1;

// Borders
$color-default-border: rgba(0, 0, 0, 0.05);

// Status
$color-online: rgb(28, 182, 36);
$color-offline: rgb(209, 33, 33);

// Checkmark
$color-checkmark-bg: #eee;
$color-checkmark-bg-hover: #ccc;
$color-checkmark-bg-checked: $primary-color;

:export {
	primaryColor: $primary-color;
}

// Loader
.Theme__Loader__Light {
	--loader-background: rgba(0, 0, 0, 0.5);
	--loader-font-color: #fefefe;
	--loader-border-min: rgba(255, 255, 255, 0.08);
	--loader-border-max: rgba(255, 255, 255, 0.7);
}

.Theme__Loader__Dark {
	--loader-background: linear-gradient(to bottom, #f28b27, #fa7c3e, #fd6f52, #fb6566, #f45e79);
	--loader-font-color: #fefefe;
	--loader-border-min: rgba(255, 255, 255, 0.08);
	--loader-border-max: rgba(255, 255, 255, 0.7);
}
