* {
	font-family: Lato;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	overflow: auto;
}
body {
	height: 100%;
	margin: 0;
}

p,
label {
	line-height: 1.5em;
}

button:focus {
	outline: 0;
}
