@import '@styles/colors.scss';

.Home__Main {
	display: flex;
	flex: 1;
	height: 100vh;
	background: $home-background;

	.Home__Card {
		display: grid;
		grid-template-columns: 3fr 7fr;
		background-color: $color-white;
	}

	.Content__Left {
		display: grid;
		grid-template-rows: 10% 6% 84%;
		height: 100%;
		border-right: 1px solid $color-default-border;

		.Header__Section {
			border-bottom: 1px solid $color-default-border;

			.Header__Content__Container {
				height: 100%;
				display: grid;
				grid-template-columns: 70% 15% 15%;
				background: $color-white;

				.Header__Logo {
					justify-self: start;
					align-self: center;
				}

				.Refresh__Button {
					justify-self: center;
					align-self: center;
				}

				.Overflow__Button {
					justify-self: center;
					align-self: center;
				}
			}
		}

		.Search__Section {
			border-bottom: 1px solid $color-default-border;

			.Search__Input__Container {
				text-align: center;
				display: grid;
				grid-template-columns: 100%;
				height: 100%;
				background: $color-light-gray;

				.Search__Input {
					width: 85%;
					height: 70%;
					justify-self: center;
					text-align: left;
					color: $color-font-medium;
					align-self: center;
					border-width: 0px;
					border-image: initial;
					border-radius: 18px;
					padding: 0px 15px;
					background: $color-white;
					outline: none;

					&::placeholder {
						color: $color-placeholder;
					}
				}
			}
		}

		.Patient__Section {
			display: block;

			.Patient__Content__Container {
				overflow-y: scroll;
				height: 100%;

				.Patient__Item {
					overflow-wrap: break-word;
					display: grid;
					height: 80px;
					z-index: 10;
					grid-template-columns: 25% 50% 25%;
					border-bottom: 1px solid $color-default-border;
					background: $color-white;

					&:hover {
						background: $color-light-gray;
						cursor: 'pointer';
					}

					.Image__Container {
						display: grid;
						grid-template-columns: 100%;

						.Image {
							width: 50px;
							height: 50px;
							justify-self: center;
							align-self: center;
							border-radius: 50%;
							background: $primary-color;
						}
					}

					.Text__Container {
						display: flex;
						flex: 1;
						flex-direction: column;
						width: 130px;
						justify-self: start;
						align-self: center;
						overflow-wrap: break-word;
						padding-left: 6px;

						.Patient__Name {
							width: 120px;
							font-size: 14px;
							text-align: start;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
						}

						.Last__Message {
							width: 190px;
							margin: 0px;
							color: $color-font-medium;
							font-size: 14px;
							text-align: start;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
						}
					}

					.Time__Container {
						display: grid;
						height: 50%;
						width: 100%;
						align-self: center;
						color: $color-font-medium;
						font-size: 12px;

						.Time {
							justify-self: center;
							align-self: start;
						}
					}
				}
			}
		}
	}

	.Content__Right {
		display: grid;
		grid-template-columns: 1fr;
		height: 100%;

		.Empty__Section {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: center;
			height: 100%;

			.Empty__Message {
				color: $secondary-color;
				font-size: 28px;
				font-weight: 700;
				line-height: 1.5em;
				margin: 10px;
			}

			.Empty__Detail {
				color: $color-font-medium;
				line-height: 24px;
				font-size: 16px;
				font-weight: 400;
			}

			.Logo__Main {
				height: 200px;
				width: 100%;
				margin: 0;
				padding: 10px;
			}

			.Empty__Button {
				min-width: 120px;
				height: 40px;
				padding-left: 30px;
				padding-right: 30px;
				font-size: 14px;
				font-weight: normal;
				align-self: center;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.Home__Main {
		background: $color-white;

		.Home__Card {
			margin: 0px;
			background-color: $color-white;
		}

		.Content__Right {
			display: grid;
			grid-template-columns: 1fr;
			height: 100%;

			.Empty__Section {
				.Empty__Message {
					font-size: 18px;
				}

				.Empty__Detail {
					font-size: 14px;
				}
			}
		}
	}
}
