@import '@styles/colors.scss';

.PatientListItem__Main {
	overflow-wrap: break-word;
	display: grid;
	height: 80px;
	z-index: 10;
	grid-template-columns: 20% 55% 25%;
	border-bottom: 1px solid $color-default-border;
	background: $color-white;

	&:hover {
		background: $color-light-gray;
		cursor: 'pointer';
	}

	.Image__Container {
		display: grid;
		grid-template-columns: 1fr;

		.Circle__Image {
			width: 50px;
			height: 50px;
			justify-self: center;
			align-self: center;
			border-radius: 50%;
			background: $color-light-gray;
		}
	}

	.Text__Container {
		display: flex;
		flex: 1;
		flex-direction: column;
		width: 260px;
		justify-self: start;
		align-self: center;
		overflow-wrap: break-word;
		padding-left: 6px;

		.Patient__Name {
			width: 60%;
			font-size: 14px;
			text-align: start;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.Last__Message {
			width: 100%;
			margin: 0px;
			color: $color-font-medium;
			font-size: 14px;
			text-align: start;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}

	.Time__Container {
		display: grid;
		height: 50%;
		width: 100%;
		align-self: center;
		color: $color-font-medium;
		font-size: 12px;

		.Time {
			justify-self: center;
			align-self: start;
		}
	}
}
