@import '@styles/colors.scss';

.PatientProfile__Main {
	.Title {
		display: flex;
		flex: 1;
		flex-direction: column;
		font-size: 24px;
		font-weight: 700;
		padding: 20px 0px;
		text-align: center;
	}

	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
		margin: 0 auto;
	}

	td {
		border: 1px solid $color-transparent;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: $color-transparent;
	}

	.Detail__Label {
		width: 50%;
		color: $primary-color;
		text-align: right;
	}

	.Detail__Value {
		width: 50%;
		color: $color-font-medium;
		text-transform: capitalize;
	}
}
