@import '@styles/colors.scss';

.Error__Main {
	display: flex;
	flex: 1;
	background-color: $error-background;
	height: 100vh;

	.Error__Message {
		color: $secondary-color;
		font-size: 20px;
		font-weight: 700;
		line-height: 1.5em;
		margin: 10px;
	}

	.Error__Detail {
		color: $color-font-medium;
		line-height: 24px;
		font-size: 16px;
		font-weight: 400;
	}

	.Logo__Main {
		height: 200px;
		width: 100%;
		margin: 0;
		padding: 10px;
	}

	.CTA__Button {
		min-width: 120px;
		height: 40px;
		padding-left: 30px;
		padding-right: 30px;
		font-size: 14px;
		font-weight: normal;
		align-self: center;
	}
}

@media screen and (max-width: 800px) {
	.Error__Main {
		background-color: $color-white;

		.Error__Message {
			font-size: 18px;
		}

		.Error__Detail {
			font-size: 14px;
		}
	}
}
