@import '@styles/colors.scss';

.Card__Main {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0px;
	background-color: $color-white;
	margin: 20px;
}

@media screen and (max-width: 800px) {
	.Card__Main {
		background-color: $color-transparent;
	}
}
