@import '@styles/colors.scss';
@import '@styles/functions.scss';

.Tab__List__Item {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	height: 65px;
	font-size: 14px;
	border-bottom: 2px solid $color-transparent;
	background: $color-white;
	text-align: center;

	&:hover {
		background: tint($primary-color, 80);
		color: $primary-color;
		cursor: pointer;
	}
}

.Tab__Item__Active {
	border-bottom: 2px solid $primary-color;
	color: $primary-color;
}
